<div class="message {% if delay %}delayed{% endif %}">
	<span class="stamp">
		{% if delay %}
			{{ delay._stamp | dateFormat }}
		{% else %}
			{{ null | dateFormat }}
		{% endif %}
	</span>
	<span class="from">{{ _from | mucNick }}</span>:
	{% if html %}
	 {{ html | safe }}
	{% else %}
	 {{ body }}
	{% endif %}
</div>