<div class="presence {% if delay %}delayed{% endif %}">
	<span class="stamp">
		{% if delay %}
			{{ delay._stamp | dateFormat }}
		{% else %}
			{{ null | dateFormat }}
		{% endif %}
	</span>
	<span class="from">{{ _from | mucNick}}</span>
	{% if _type == 'unavailable' %}
		left {{ _from | nickFromJid }}
	{% else %}
		{% if status %}
			set
		{% else %}
			is:
		{% endif %}
		{{ statusShow(show, 'online', 'away', 'busy', 'online') }}
		{% if status %}
			status: {{ status }}
		{% endif %}
	{% endif %}
</div>