<ul class="list-group">
{% for user in users %}
	<li class="list-group-item">
		{% if user.vCard.PHOTO.BINVAL %}
			<img src="data:{{user.vCard.PHOTO.BINVAL.TYPE}};base64,{{user.vCard.PHOTO.BINVAL.__text}}" height="32px" />
		{% endif %}

		{{ user.nick | nickFromJid }}

		<span class="
			pull-right
			label
			{{ statusShow(user.show, 'label-success', 'label-default', 'label-danger') }}
			">
			{% if user.status %}
				{{ user.status }}
			{% else %}
				{{ statusShow(user.show, 'online', 'away', 'busy', user.show) }}
			{% endif %}
		</span>
	</li>
{% endfor %}
</ul>