.chat-content {
	max-height: 450px;
	overflow-y: scroll;
}

.message.delayed,
.presence.delayed {
	font-style: italic;
	color: #555;
}

.presence .stamp,
.message .stamp
{
	color: #555;
	font-size: smaller;
}

.message > p {
	display: inline-block;
}